@import 'fonts.less';
@import 'smart-grid.less';
@import 'vars.less';
@import 'chart.less';

.reset();

html {
	overflow-x: hidden;
	font-family: "Roboto Slab", "Times New Roman", serif;
	font-size: 16px;

	.sm-block({
		font-size: 14px;
	});

	.xs-block({
		font-size: 13px;
	});
}

body {
	background: @white;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	background: @second;

	a {
		color: #fff;
		text-decoration: none;
		transition: color .3s ease;

		&[href]:active {
			color: #ccc;
		}
	}

	&__wrapper {
		.row-flex();

		align-items: center;
		padding: 10px 0;

		.xs-block({
			justify-content: center;
			padding: 20px 0;
		});
	}

	&__logo {
		display: flex;
		align-items: center;
		color: #fff;
		text-decoration: none;

		img {
			width: 55px;
			padding-right: 10px;
		}
	}

	&__caption {
		text-align: center;
		color: #fff;
		margin: 0 auto;
		box-sizing: border-box;
		font-size: 1.125rem;;

		.md-block({
			width: 450px;
		});

		.sm-block({
			width: 300px;
		});

		.xs-block({
			width: 150px;
		});

		span {
			font-weight: bold;
			font-size: 1.4rem;
		}

		a {
			border-bottom: 1px dashed #fff;
		}
	}

	&__nav {
		margin-left: auto;

		.xs-block({
			width: 100%;
			text-align: center;
			margin: 20px 0 0;
		});
		
		a {
			margin-left: 20px;

			.xs-block({
				margin-left: 0;
			});
		}
	}	

}

.container {
	.wrapper();
}

.main {
	&__wrapper {
		.row-flex();
		justify-content: space-around;
	}

	&__aside {
		.col();
		.size(4);
		.size-md(0);
		.md-block({
			display: none;
		});

		max-width: 334px;
	}

	&__content {
		.col();
		.size(8);
		.size-md(12);
	}
}

.aside {
	padding-top: 130px;

	span {
		font-weight: bold;
	}

	&__calender {
		height: 194px;
	}


	#calendar2 {
		width: 250px;
		margin: 0 auto;
		font: monospace;
		line-height: 1.2em;
		font-size: 20px;
		text-align: center;
		border: 1px solid @second;
		background: lighten(@second, 22%);

		thead tr:last-child {
			font-size: 16px;
			color: rgb(85, 85, 85);
		}

		thead tr:nth-child(1) td:nth-child(2) {
			color: rgb(50, 50, 50);
		}

		thead tr:first-child {
			td:nth-child(odd) {
				cursor: pointer;
				user-select: none;
			}
		}

		tbody td {
		  	color: rgb(0, 0, 0);
		}

		tbody td:nth-child(n+6), #calendar2 .holiday {
		 	color: rgb(220, 0, 0);
		}

		tbody td.today {
			background: rgb(220, 0, 0);
			color: #fff;
		}
	}

	&__title {
		margin: 45px 0 25px;
		text-align: center;
		font-size: 26px;
		font-weight: bold;
	}

	&__text {
		margin-top: 30px;
		font-size: 20px;
	}
}

.statistic {

	&__item {
		position: relative;
		margin-bottom: 10px;
	}

	&__text {
		display: flex;

		span:last-child {
			padding-left: 20px;
			margin-left: auto;
		}
	}

	&__open {
		border-bottom: 1px dashed #000;
		cursor: pointer;
	}

	&__data {
		display: none;
		background: @white;
		border: 2px solid @global;
		border-radius: 20px;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(101%) translateY(-40%);
		box-shadow: 0 16px 38px -12px rgba(0,0,0,.3), 0 4px 25px 0 rgba(0,0,0,.08), 0 8px 10px -5px rgba(0,0,0,.14);
	}

	&__leftside {
		width: 350px;
		padding: 0 20px;
		align-self: center;
	}

	&__chart {
		width: 100%;
		height: 175px;
	    margin: 0 auto 15px;
	    position: relative;
	}

	&__rightside {
		padding: 0 20px;
		border-left: 1px solid @global;
		position: relative;

		&--isenk {
			width: 250px;

			.statistic__dataItem {
				width: 200px;
				margin-top: 20px;
			}
		}

		&--golland {
			width: 260px;

			.statistic__dataItem {
				margin-top: 10px;
			}
		}

		&--ddo {
			width: 260px;

			.statistic__dataItem {
				margin-top: 15px;
			}
		}

		&--socio {
			width: 400px;

			.statistic__title {
				margin-bottom: 0;
			}

			.statistic__dataList {
				display: flex;
			}

			.statistic__dataItem {
				margin-top: 10px;
			}
		}
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
		margin: 15px 0 15px;
	}

	&__dataBlock {
		width: 185px;
		margin-bottom: 20px;
		
		&:first-child {
			margin-right: auto;
		}
	}

	&__dataItem {
		width: inherit;
		display: flex;

		span {
			margin-left: auto; 
		}
	}

	&__close {
		position: absolute;
		top: 8px;
		right: 10px;
		width: 28px;
		height: 28px;
		opacity: 0.3;
		cursor: pointer;
		transition: opacity .3s ease;
	}

	&__close:hover {
		opacity: 1;
	}

	&__close:before, &__close:after {
		position: absolute;
		left: 15px;
		content: '';
		height: 29px;
		width: 3px;
		background-color: @global;
	}

	&__close:before {
		transform: rotate(45deg);
	}

	&__close:after {
		transform: rotate(-45deg);
	}
}

.home {
	margin-top: 50px;

	.md-block({
		margin-top: 40px;
	});
	
	&__title {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
	}

	&__list {
		.row-flex();
		.col();
		.size(12);
		justify-content: center;
		margin: 20px auto;
	}

	&__item {
		.col();
		.size(5);
		.size-md(4.5);
		.size-sm(9);

		.xs-block({
			margin: 10px;
		});

		margin: 16px;
		text-decoration: none;
		color: #000;
		font-size: 1.5rem;
		text-align: center;
		border: 3px solid @second;
		border-radius: 18px;
		transition: border .3s ease;

		&:hover {
			border-color: @global;
		}
	}

	&__image {

		img{
			border-radius: 15px 15px 0 0;
			width: 100%;
			height: 220px;
			object-fit: cover;

			.from-to(@break_sm, @break_xs, {
				height: 170px;
			});
		}
		
	}

	&__testName {
		padding: 15px 5px;
		font-weight: bold;
	}
}

.reveal {
	text-align: center;
	font-size: 1.125rem;
	margin-top: 50px;

	.md-block({
		margin-top: 30px;
	});

	&__wrapper { 
		padding-bottom: 18px;
	}

	&__description {
		width: 800px;
		margin: 0 auto;

		.md-block({
			width: 600px;
		});

		.sm-block({
			width: auto;
		});

		.xs-block({
			padding: 0 20px;
		});
	}

	&__image {
		width: 600px;
		min-height: 340px;
		margin: 0 auto -77px;

		.md-block({
			width: 500px;
			min-height: auto;
			margin-bottom: 10px;
		});

		.xs-block({
			width: auto;
		});
	}

	&__title {
		display: inline-block;
		padding: 10px 24px;
		font-size: 2.5rem;
		font-weight: bold;

		.md-block({
			background: @white !important;
		});
	}

	&__text {
		margin-top: 30px;
		padding: 0 110px;

		.md-block({
			margin-top: 15px;
			padding: 0;
		});

		.sm-block({
			padding: 0 10px;
		});

		.xs-block({
			padding: 0;
		});

		span {
			font-weight: bold;
		}
	}

	&__btn {
		margin: 35px 0;
		padding: 12px 24px;
		font-family: "Roboto Slab","Times New Roman", serif;
		font-size: 1.438rem;
		background-color: lighten(@red, 5%);
		color: #000;
		text-decoration: none;
		border: 3px solid @white;
		border-radius: 8px;
		transition: color .3s ease, background .3s ease;
		cursor: pointer;

		&:hover {
			background-color: darken(@red, 5%);
		}

		&:focus {
			outline: none;
			color: #00000078;
		}
	}

	&__result {
		display: none;
	}
}

.reveal {
	&--isenk {
		.reveal__title {
			background-color: rgba(207, 225, 233, 0.8);
		}
	}

	&--golland {
		.reveal__title {
			background-color: rgba(255, 255, 255, 0.8);
		}
	}

	&--ddo {
		.reveal__title {
			background-color: rgba(233, 227, 215, 0.8);
		}
	}

	&--socio {
		.reveal__title {
			background-color: rgba(235, 229, 241, 0.5);
		}
	}
}

.test {
	display: none;
	text-align: center;

	&__title {
		margin-top: -26px;
		margin-bottom: 30px;
		font-size: 2.25rem;
		font-weight: bold;

		.md-block({
			margin-top: 20px;
		});
	}

	&__caption {
		font-size: 1.375rem;
	}

	&__order {
		margin-top: 30px;
		font-size: 1.25rem;

		.xs-block({
			margin: 10px;
		});

		span {
			font-weight: bold;
		}
	}

	&__item {
		width: 1000px;
		margin: 0 auto;
		display: none;
		box-sizing: border-box;

		.md-block({
			width: auto;
		});

	
		&--active {
			display: block;
		}
	}

	&__buttons {
		.row-flex();

		justify-content: center;
		margin: 30px 0 0;
	}

	&__button {
		cursor: pointer;
		user-select: none;

		input {
			display: none;
		}
	}

	&__imgWrapper {
		width: 100%;
	    height: 100%;
	    margin: 0;
	    display: flex;
	    flex-direction: column;

		figcaption {
			margin: auto;
			padding: 20px 20px;
			font-size: 1.563rem;

			.xs-block({
				font-size: 1.10rem;
			});
		}
	}

	&__btn {
		display: inline-block;
		margin: 30px 0;
	}
}

.isenk {

	&__item {
		width: 820px;
		padding: 0 40px;
		border: @global 4px solid;
		border-radius: 25px;

		.md-block({
			width: 650px;
		});

		.sm-block({
			width: 500px;
			padding: 0 15px;
		});

		.xs-block({
			width: auto;
			margin: 0 10px;
		});
	}

	&__title {
		display: flex;
		justify-content: center;
	    align-items: center;
	    min-height: 111px;
		margin-top: 30px;
		font-size: 1.75rem;

		.md-block({
			min-height: 148px;
		});

		.xs-block({
			min-height: 168px;
		});

	}

	&__buttons {
		margin: 55px 0 50px;
		font-size: 1.563rem;
	}

	&__button {
		padding: 10px 0;
		display: inline-block;
		width: 98px;
		border-radius: 5px;
		transition: background .2s ease;

		.xs-block({
			padding: 15px 0; 
		});

		&--yes {
			background-color: @green;
			margin-right: 25px;

			.xs-block({
				margin-right: 15px;
			});

			&:hover {
				background-color: darken(@green, 5%);
			}
		}

		&--no {
			background-color: @red;

			&:hover {
				background-color: darken(@red, 12%);
			}
		}
	}
}

.golddo {

	&__button {
		width: 370px;
		transition: border .3s ease;
		border: 3px solid @second;
		border-radius: 34px;
		box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.3), 0 4px 25px 0px rgba(0, 0, 0, 0.08), 0 8px 10px -5px rgba(0, 0, 0, 0.14);

		&:hover {
			border-color: @global;
		}

		&:first-child {
			margin-right: 50px;

			.md-block({
				margin-right: 35px;
			});

			.xs-block({
				margin-right: 0;
				margin-bottom: 20px;
			});
		}

		.md-block({
			width: 280px;
		});

		.sm-block({
			width: 240px;
		});

		.xs-block({
			width: 70%;
		});

		.from-to(0px, 425px, {
			width: 90%;
		});
	}

	&__image {
		height: 250px;
		
		.md-block({
			height: 195px;
		});

		.sm-block({
			height: 166px;
		});

		.xs-block({
			height: 200px;
		});

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30px 30px 0 0;
			opacity: 0;
			transition: opacity .3s ease;
		}

		img.loaded {
			opacity: 1;
		}

	}
}

.socio {
	// margin-top: 18px;

	.test__title {
		margin-top: 0px;
		margin-bottom: -16px;
	}

	.xs-block({
		padding-top: 2px;
	});

	&__item {
		position: relative;
	}

	&__order {
		display: inline-block;
		margin: 0;
		padding: 5px 10px;
		border-radius: 10px;
		background: lighten(@red, 4%);
		position: absolute;
		top: -18px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__buttons {
		width: 700px;
		margin: 80px auto; 
		padding: 30px 50px;
		background: lighten(@second, 37%);
		border-radius: 25px;
		box-sizing: border-box;
		box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.3), 0 4px 25px 0px rgba(0, 0, 0, 0.08), 0 8px 10px -5px rgba(0, 0, 0, 0.14);

		.md-block({
			width: 680px;
		});

		.sm-block({
			width: auto;
			margin: 30px 15px;
			padding: 25px 20px;
		});

	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 78px;
		margin: 20px 0;
		padding: 15px 55px;
		font-size: 1.625rem;
		background: #fff;
		border-radius: 20px;
		transition: background .4s ease;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

		.sm-block({
			padding: 5px 20px;
			min-height: 114px;
		});

		&:hover {
			background: #eee;
		}
	}

	.test__btn {
		margin-top: -40px;
	}
}

.testResult {
	margin-bottom: 40px;
	
	&__wrapper {
		width: 900px;
		margin: 70px auto;
	    font-size: 1.125rem;

	    .md-block({
			width: auto;
	    });
	}

	&__item {
		display: none;
	}

	&__caption {
		font-size: 1.375rem;
	}

	&__image {
		width: 270px;
		min-height: 340px;
		margin: 30px auto;

		.sm-block({
			width: 220px;
			min-height: auto;
		});
	}

	&__title {
		margin-top: 30px;
		font-weight: bold;
		font-size: 1.625rem;

		.sm-block({
			padding: 0 20px;
		});
	}

	&__text {
		padding: 0 100px;
		margin-top: 30px;
		text-align: left;

		.xs-block({
			margin-top: 10px;
			padding: 0 30px;
		});

		p {
			padding-top: 10px;
		}
		
		span {
			font-weight: bold;
		}
	}

	&__list {
		padding-left: 25px;

		li {
			display: list-item;
			list-style: square;
		}
	}

	&__chart {
	    width: 1100px;
	    margin: 0 auto;
	    position: relative;

	    span {
	    	padding: 0 15px;
	    }

	    .md-block({
			width: 100%;
	    });
	}

	&__btn {
		margin-top: 50px;
		margin-bottom: -40px;
	}
}

.isenkResult {

	&__item {
		width: 600px;
		margin: 0 auto 40px;
		display: none;

		.sm-block({
			width: 480px;
		});

		.xs-block({
			width: auto;
			padding: 0 20px;
		});
	}

	&__title {
		font-weight: bold;
		font-size: 2.125rem;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.testResult__btn {
		margin-top: 0px;
	}
}

.footer {
	margin-top: 50px;

	&__text {
		text-align: center;
		font-size: 12px;
	}
}