img {
	max-width: 100%;
	height: auto;
}

header {
	height: 58px;
	background: #000;
}

.test__item {
	border-bottom: 1px solid #000;
	display: none;
}
.test__item--active {
	display: block;
}

.golland__wrapper, .ddo__wrapper {
	width: 320px;
}